
* {
    -fx-primary : #34474e;
    -fx-secondary : #2dd96b;
    -fx-mainMenu : #233239;
    -fx-promptText : #565656
}

.root{
    -fx-background-color: -fx-primary;
}

.text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: -fx-promptText;
}

.text {
    -fx-text-fill: white;
}

.combo-box-base {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: -fx-secondary;

}

.combo-box-base .text{
    -fx-fill: white;
}

.button{
    -fx-text-fill: white;
    -fx-background-color: -fx-primary;
}

.button:hover{
    -fx-text-fill: -fx-secondary;
}

#bikesBtn, #docksBtn {
    -fx-background-color: #696969;
}

#saveBtn{
    -fx-background-color: -fx-secondary;
}

.line{
    -fx-fill: -fx-secondary;
}