
* {
    -fx-primary : #34474e;
    -fx-secondary : #2dd96b;
    -fx-mainMenu : #233239;
    -fx-promptText : #d1d1d1;
}

.root{
    -fx-background-color: -fx-primary;
}

.text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: -fx-promptText;
}

.text {
    -fx-text-fill: white;
}

.combo-box-base {
    -fx-prompt-text-fill: white;
    -fx-background-color: -fx-secondary;
}

.combo-box-base .text{
    -fx-fill: white;
}

.combo-box-popup .list-view{
    -fx-text-fill: -fx-secondary;
}

.button{
    -fx-text-fill: white;
    -fx-background-color: -fx-secondary;
}

.button:hover{
    -fx-text-fill: -fx-secondary;
}


.line{
    -fx-fill: -fx-secondary;
}